
/* all containers */
.container {

}

p {

}

.headline {
  font-size:3em;
 font-family: 'Montserrat', sans-serif;
 font-weight:700;
}

.byline {
  font-size:1em;
 text-transform:uppercase;
 margin-top:-10px;
 font-family: 'Montserrat', sans-serif;
}
