/* Styles for my resume */

/* All paragraphs */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444
  font-weight: 400;
}

/* Photo somewhere in here */


/* Banner name at top */
h1 {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;

}


/* Subheadings like Experience/Edu Etc */
h2 {
  font-size: 5em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #33485e;
  font-weight: 400;

}


/* Job Titles */
h3 {
  font-weight: 600;
  font-size: 1.5em;

}


/* Job Organization */
h4 {
  font-weight: 400;
  font-size: 1.5em;

}


/* Job Dates */
h5 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;

}

/* Contact info, Skills, Education etc */
li {
  font-size: 1em;

}
