/* Styles for my resume */

/* All paragraphs */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444
  font-weight: 400;
}

/* Photo somewhere in here */


/* Banner name at top */
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;

}


/* Subheadings like Experience/Edu Etc */
.sectionheader {
  font-size: 5em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #33485e;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  /* top | right | bottom | left */
  width: 70%;
  min-width: 300px;
}



/* Job Titles */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;

}


/* Job Organization */
.organization {
  font-weight: 400;
  font-size: 1.25em;

}


/* Job Dates */
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
  /*boop boop margin practic*/
  margin-top: 2px 0px 0px 0px;

}

/* Contact info, Skills, Education etc */
li {
  font-size: 1em;

}

/* is this supposed to be its own thing?*/
p.description {
  margin: 10px 0px;
}

/* an again */

ul.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline;
}

/* ask prof about whether or not you need the preface*/

#degrees {
  margin-top: 5px 0px 0px 0px;

}

#title {
  font-weight: 600;
  text-align:center;
  margin: 20px 0px 0px 0px;
}

/* pretending that this is mission statement */
p.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
